<template>
  <header>
    <h1>{{title}}</h1>
    <input type="text" placeholder="Search..." v-model="search" @input="$emit('search', search)" />
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      title: "IdeaBox",
      search: ""
    };
  }
};
</script>

<style scoped>
</style>