<template>
  <output>
    <div v-bind:key="idea.id" v-for="idea in ideas">
      <Idea v-bind="idea" @delete-idea="$emit('delete-idea', idea.id)" />
    </div>
  </output>
</template>

<script>
import Idea from "./Idea";

export default {
  name: "IdeaView",
  components: {
    Idea
  },
  props: {
    ideas: Array
  }
};
</script>

<style scoped>
</style>