<template>
  <div>
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    <button @click="$emit('delete-idea')">Delete</button>
  </div>
</template>

<script>
export default {
  name: "Idea",
  props: {
    id: Number,
    title: String,
    body: String
  }
};
</script>

<style scoped>
</style>