<template>
  <form @submit="addIdea">
    <label for="title-input">Title</label>
    <input type="text" placeholder="Title" id="title-input" v-model="title" />
    <label for="body-input">Body</label>
    <input type="text" placeholder="Body" id="body-input" v-model="body" />
    <input type="submit" value="Add Idea" />
  </form>
</template>

<script>
export default {
  name: "IdeaForm",
  data() {
    return {
      title: "",
      body: ""
    };
  },
  methods: {
    addIdea(e) {
      e.preventDefault();
      const idea = { id: Date.now(), title: this.title, body: this.body };
      this.$emit("add-idea", idea);
      this.title = "";
      this.body = "";
    }
  }
};
</script>

<style  scoped>
</style>