<template>
  <div id="app">
    <h1>IdeaBox</h1>
  </div>
</template>

<script>
export default {
  name: "app",
  components: {},
  data() {
    return {
      ideas: []
    };
  }
};
</script>

<style>
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
</style>
